body{
    background: linear-gradient(var(--background-color-gradient-forte), var(--background-color-roxo-claro));
}

.secao_sobre {
    margin: 6rem 25% 2rem 25%;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 2rem;
    font-stretch: expanded;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
}



.secao_sobre > img {
    display: inline-block;
}