:root {
    --azul-padrao: #2A7AE4;
    --cinza-medio-fonte: #464646;
    --bg-footer: #EAF2FD;
}

html {
    font-family: 'Raleway', sans-serif;
}


.cabecalhoLadoEsquerdo {
    display: none;
}

.divMobile {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem 0 .5rem;
    margin: .5rem 0 .5rem 0;
}

.logo {
    width: 100px;
    height: 28px;
}

.divMobile > p {
    border: 1px solid var(--azul-padrao);
    font-size: 14px;
    font-weight: 600;
    color: var(--azul-padrao);
    padding: 0.5rem 2rem 0.5rem 2rem;

}

.lupa {
    width: auto;
}

.Banner {
    display: flex;
    background-image: url(banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.bannerTexto{
    width: 100%;
    margin-top: 4.8rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.bannerTexto > h1 {
    font-weight: 700;
    color: white;
    font-size: 22px;
    width: max-content;
    margin-bottom: .5rem;
}

.bannerTexto > p {
    font-weight: 600;
    font-size: 14px;
    color: white;
    width: max-content;
    margin-bottom: .5rem;
}

.bannerTexto > a {
    display: block;
    background-color: var(--azul-padrao);
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: max-content;
    padding: 12px 16px;

}

.StarWars, .Consoles, .Diversos {
    display: inherit;
    margin: 1rem 1rem;
}

.TituloEVerTudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--cinza-medio-fonte);
}

.TituloEVerTudo > h2 {
    font-weight: 700;
    font-size: 22px;
}

.verTudo > a > p {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: var(--azul-padrao);
    margin-right: .5rem;
}

.listaDeProdutos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
}

.Produtos {
    justify-content: center;
    width: 156px;
    padding: 0 auto;
    margin: .5rem auto;
}

.Produtos img {
    width: 100%;
}

.Produtos > p {
    width: max-content;
}

.Produtos > img + p{
    font-weight: 500;
    font-size: 14px;
    color: var(--cinza-medio-fonte);
}

.Produtos p + p {
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-medio-fonte);

}

.Produtos a {
    color: var(--azul-padrao);
    font-weight: 700;
    font-size: 14px;

}

footer {
    background-color: var(--bg-footer);
}

.sobreNos {
    margin: 0 auto;
    width: 100%;
}
.sobreNos > img {
    display: block;
    margin: 0 auto;
}
footer > .sobreNos > p {
    font-weight: 500;
    font-size: 16px;
    color: var(--cinza-medio-fonte);
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.formNome {
    width: calc(100% - 2rem);
    margin: 1rem 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}



.formNome > label {
    font-weight: 400;
    font-size: 12px;
    color: var(--cinza-medio-fonte);
    background-color: white;
    display: inline-block;
    width: calc(45% - .6rem);
    padding: .3rem .3rem;
    border-radius: 4px;
}

.formNome > input {
    border: none;
    display: block;
    padding: 0 0 .3rem .3rem;
    width: 98%;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-medio-fonte);

}

.faleConosco textarea{
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: calc(100% - 3rem);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin: 1rem 1rem;
    padding: .5rem .5rem;
}

/*media querry tablet*/
@media screen and (min-width: 768px){
    .divMobile {
        display: none;
    }
    .cabecalhoLadoEsquerdo {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        padding: 0 .5rem 0 .5rem;
        margin: .5rem 0 .5rem 0;
    }

    .LogoTablet {
        width: 100px;
        height: 28px;
    }

    .BarradePesquisa > form > input {
        font-weight: 600;
        color: #A2A2A2;
        font-weight: 400;
        border: none;
        background-color: #F5F5F5;
    }

    .BarradePesquisa{
        display: flex;
        border-radius: 20px;
        background-color: #F5F5F5;
        padding: 8px 16px;
        border-style: none;
        align-items: center;
        flex-grow: 1;
    }


}