:root {
    --azul-padrao: #2A7AE4;
    --cinza-medio-fonte: #464646
}

html {
    font-family: 'Raleway', sans-serif;
}


.cabecalhoLadoEsquerdo {
    display: none;
}

.divMobile {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem 0 .5rem;
    margin: .5rem 0 .5rem 0;
}

.logo {
    width: 100px;
    height: 28px;
}

.divMobile > p {
    border: 1px solid var(--azul-padrao);
    font-size: 14px;
    font-weight: 600;
    color: var(--azul-padrao);
    padding: 0.5rem 2rem 0.5rem 2rem;

}

.lupa {
    width: auto;
}

.Banner {
    display: flex;
    flex-direction: column;
    background-image: url(banner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 7rem 1rem;

}

.Banner > h1 {
    font-weight: 700;
    color: white;
    font-size: 22px;
    width: max-content;
    margin-bottom: 3rem;
}

.Banner > p {
    font-weight: 600;
    font-size: 16px;
    color: white;
    width: max-content;
}

.Banner > a {
    display: block;
    background-color: var(--azul-padrao);
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: max-content;
    padding: 12px 16px;

}

.StarWars, .Consoles, .Diversos {
    display: inherit;
    margin: 1rem 1rem;
}

.TituloEVerTudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--cinza-medio-fonte);
}

.TituloEVerTudo > h2 {
    font-weight: 700;
    font-size: 22px;
}

.verTudo > a > p {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: var(--azul-padrao);
    margin-right: .5rem;
}

.listaDeProdutos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
}

.Produtos {
    justify-content: center;
    width: 156px;
    padding: 0 auto;
    margin: .5rem auto;
}

.Produtos img {
    width: 100%;
}

.Produtos > p {
    width: max-content;
}

.Produtos > img + p{
    font-weight: 500;
    font-size: 14px;
    color: var(--cinza-medio-fonte);
}

.Produtos p + p {
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-medio-fonte);

}

.Produtos a {
    color: var(--azul-padrao);
    font-weight: 700;
    font-size: 14px;

}

/*media querry tablet*/
@media screen and (min-width: 768px){
    .divMobile {
        display: none;
    }
    .cabecalhoLadoEsquerdo {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        padding: 0 .5rem 0 .5rem;
        margin: .5rem 0 .5rem 0;
    }

    .LogoTablet {
        width: 100px;
        height: 28px;
    }

    .BarradePesquisa > form > input {
        font-weight: 600;
        color: #A2A2A2;
        font-weight: 400;
        border: none;
        background-color: #F5F5F5;
    }

    .BarradePesquisa{
        display: flex;
        border-radius: 20px;
        background-color: #F5F5F5;
        padding: 8px 16px;
        border-style: none;
        align-items: center;
        flex-grow: 1;
    }

}