:root{
    --background-color-roxo-claro: #b9bada;
    --background-color-navigation-bar: #3d1365;
    --background-color-gradient-forte: #00004f;
}

body{
    background-color: var(--font-color-roxo-claro);
}

.navigation_bar{
    position: fixed;
    padding-top: 1rem;
    background-color: var(--background-color-gradient-forte);
    width: 100%;
}

.navigation_bar li {
    color: var(--background-color-roxo-claro);
}

.nome_header{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 2rem;
    margin-left: 1rem;
}
.item{
    display: inline-block;
    margin-left: 1rem;
    list-style-type: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0 2rem 1rem;
    marker: none;
    border: none;
}

.nome{
    font-family: 'Oswald', sans-serif;
}

.div_central{
    width: 25%;
    margin: 25% 25% 25% 25%;
    padding: 1rem 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

.div_central h1, p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

.icones_tecnologias li {
    display: inline-block;
    margin-right: 1rem;
}


